/* 스위트어럴트2 커스텀 영역입니다. */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #003D80 !important;
}

button.swal2-customScan {
    height: 80px;
    font-size: 1.5em !important;
    font-weight: 600;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: none !important;
}

div:where(.swal2-icon).swal2-error {
    border-color: #ec0000 !important;
    color: #ec0000 !important;
}

    div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line] {
        background-color: #ec0000 !important;
    }

div:where(.swal2-icon).swal2-warning {
    border-color: #fa7500 !important;
    color: #fa7500 !important;
}

.swal2-timer-progress-bar {
    background-color: #4fb748; /* 예시 색상 */
}
